body {
  background: lightblue;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

}

p {
  font-size: 20px;
}

img.logo {
  max-width: 100px;
  height: auto;
}

img.cheatsheet {
  max-width: 100%;
  height: auto;
}